.lienscentre {
  display: block;
  width: 100%;
  text-align: center;
}

h1 {
  width: 100%;
  line-height: 75vh;
  font-family: 'Abril Fatface', sans-serif;
}

h2 {
  width: 100%;
  font-family: 'Abril Fatface', sans-serif;
}
